body {
  margin: 0;
 background-color: #8fb6a2;
}
#count1 {
 position: relative;
    left: -260px;
}
#count2 {
    position: relative;
    left: -145px;
}
#count4 {
    position: relative;
    right: -130px;
}
#count5 {
    position: relative;
    right: -260px;
}
.result{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}