body {
  margin: 0;
 background-color: #8fb6a2;
}
#count1, #count2, #count3, #count4, #count5 {
 position: relative;
    left: 60px;
}
.result{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}